<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>Contacts</title>
</head>
<body>
  <div class="container">
    <h3>You created a contact!</h1>
    <br/>
    <h4>{{ newcontact.getName }}</h4>
    <ul>
      <h6>{{ newcontact.getNumber }}</h6>
      <h6>{{ newcontact.getAddress}}</h6>
    </ul>
    <hr>
    <h4><a href='/'>Home</a></h4>
  </div>
</body>
</html>